.Login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.login-form{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background-color: #FFD0B9;
}

.form-group{
    margin-bottom: 1rem;
}


.form-header{
    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    text-align: center;
}

button {
  background-color: #FF5050;
  color: white;
  padding: 14px 20px;
  margin: 6px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #FFE4CD;
}

.error{
  color: #800000;
  margin: 2px ;
  padding: 0px;
  max-height: 6px;
  align-items: center;
  justify-content: center;
}
