
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 1px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.judul img {
  max-height: 150px;
  max-width: 150px;
}

.judul{
  /* margin-top: 0px; */
  background-color: #FF4500;
  display: block;
  align-items: center;
  text-align:center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;

}

.head{
  background-color: #20B2AA;
  height: 10vh;
  background-size: cover;
  align-items: center;
  justify-content: center;

}

.App {
  /* margin-top: 0px; */
  /* margin-top: 0px; */
  background-color: #20B2AA;
  height: 100%;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}


h1{
  font-style: italic;
  font-size: 70px;
  margin-top: 1px;
  margin-bottom: 20px;
}
